<div class="panel-heading">Diagramme</div>
<div class="panel-body">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-info">
				<div class="panel-heading">Vorfälle</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<highchart id="chartEventsToday" config="charts[0]"></highchart>
						</div>

<!--						<div class="col-md-6">
							<highchart id="chartEventsPerSensor" config="charts[1]"></highchart>
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>

<!--	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-info">
				<div class="panel-heading">Vorfälle</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<highchart id="incsByThreatLevel" config="charts[2]"></highchart>
						</div>

						<div class="col-md-6">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>