<div id="eventdetails" class="row">
	<div class="col-md-12">
		<div class="panel panel-danger">
			<div class="panel-heading">Schwerer Fehler</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						[{{ time }}] {{ text }}
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						Sie werden in {{ secondsToClose }} Sekunden automatisch abgemeldet. Klicken Sie <a href="logout.html">hier</a> um sich direkt abzumelden.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>